body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  /*background-image: url("img/weatherIcon.webp");*/
flex-direction: column;
}
.clear{
  background-image: url("img/sunIcon.webp");
  background-size: 100%;
}
.clouds{
  background-image: url("img/weatherIcon.webp");
  background-size: 100%;
}

.weatherIcon{
  background-size: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
.conic {
  position: relative;
  z-index: 0;
  width: 500px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}
.conic::before {
  content: "";
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #1a232a;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    transparent,
    rgba(168, 239, 255, 1),
    transparent 30%
  );
  animation: rotate 4s linear infinite;
}
.conic::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: #000;
  border-radius: 5px;
}
.conic-demo::after {
  animation: opacityChange 5s infinite linear;
}
@keyframes opacityChange {
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.begingName{
  color: lightblue;
font-size: 40px;
  letter-spacing: 5px;
}

.widget{
  color: white;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
}
.locationLogo {
  width: 25px;
  height: 25px;
  margin-top: 6px;
}
.city{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
}
.city:hover{
  transform: scale(1.10);
  cursor: pointer;
}
.header{
display: flex;

}
.info-row{
  font-weight: 200;
  width: 100%;
}

.dateToday{
  font-size: 18px;
}
.title{
  font-size: 18px;
  display: flex;
  flex-direction: row;
  font-stretch: semi-expanded;
  align-items: center;
  letter-spacing: 2px;
}
.value{
  width: 140px;
}
.feelsLike{
  font-size: 21px;
}
.humidity {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  font-stretch: semi-expanded;
  align-items: center;
  letter-spacing: 2px;
}
.weather-container{
  display: flex;
  flex-direction: row;
  width: 65%;
  align-items: flex-end;
  flex-wrap: nowrap;
  align-content: flex-end;
  padding-bottom: 0;
  padding-right: 0;
  margin: 0;
  justify-content: center;
}
.weather-clouds{
  margin-bottom: -3px;
}

#weatherImg{
  height: 160px;
  width: 160px;
}
#weatherImg:hover{
  transform: scale(1.05);
}
.weatherTempRow{
  display: flex;
  flex-direction: row;
}
.weatherTempRow h1{
  font-size: 92px;
}
.units{
  /*display: flex;*/
  /*flex-direction: column;*/
  font-size: 45px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;

}
/*.units span:first-child {*/
/*  border-bottom: 1px solid #FFFFFF;*/
/*}*/
.weather-desc{
  text-transform: uppercase;
  font-size: 28px;
  font-stretch: normal;
  font-weight: 200;
  text-align: center;
  width: 100%;
  padding: 0 25px 25px;
}
.date{
  font-size: 20px;
}
.firstBlock{
  margin-top: 25px;
  display: flex;
  align-items: center;
}
.weather-item{
  font-size: 60px;

}
.description{
  font-size: 20px;
  letter-spacing: 2px;
}
.inputBox{
  margin-left: 110px;
  display: flex;
}
.input{
  height: 33px;
  width: 200px;
  border-radius: 15px;
  padding-left: 5%;
  font-size: 20px;
}
.buttonSearch{
  width: 44px;
  height: 33px;
  border-radius: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.buttonSearch:hover{
  transform: scale(1.20);
}
#searchIcon{
  width: 26px;
  height: 26px;
  background-size: 30px;
}
#cloudsTemp{
  margin-left: 34px;
}
.sunLogo{
  width: 60px;
  height: 60px;
}
.blockWeek{
  width: 35%;
  display: flex;
  height: 22%;
  justify-content: space-between;
}
.dayFirst{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border: 4px solid #1a232a;
  width: 24%;
  background-color: black;
  font-size: 22px;
}
.daySecond{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border: 4px solid #1a232a;
  width: 24%;
  background-color: black;
  font-size: 22px;
}
.dayThird{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border: 4px solid #1a232a;
  width: 24%;
  background-color: black;
  font-size: 22px;
}
.days-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  border: 4px solid #1a232a;
  width: 24%;
  background-color: black;
  font-size: 22px;
}
.firstWeather-clouds{
 margin-bottom: -40px;
}
.firstDegree{
  margin-bottom: -42%;
}
.secondDegree{
  margin-bottom: -42%;
}
.thirdDegree{
  margin-bottom: -42%;
}
.forthDegree{
  margin-bottom: -42%;
}
/*.secondWeather-clouds{*/
/*  margin-bottom: -56%;*/
/*}*/
.thirdWeather-clouds{
  margin-bottom: -45px;
}
.forthWeather-clouds{
  margin-bottom: -40px;
}
.firstDegree{
  margin-bottom: -32px;
}
.secondDegree{
  margin-bottom: -32px;
}
.secondWeather-clouds{
  margin-bottom: -42px;
}
.thirdDegree{
  margin-bottom: -32px;
}
.forthDegree{
  margin-bottom: -32px;
}